@import "bootstrap.min.css";
@import "bootstrap-theme.min.css";



body{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}
li{
  list-style: none;
}
a:hover, a:visited, a{
  text-decoration: none;
}
h4{
  font-size: 14px;
  color: #008ed6;
  text-transform: uppercase;
  margin-top: 65px;
  font-weight: 700;
}
h2{
  font-size: 36px;
  color: #1a1a1a;
  font-weight: 600;
  margin-bottom: 25px;
  margin-top: 0;
}

/*header area*/
.top-header{
  background:transparent;
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
  -moz-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
  -ms-transition: all .7s ease 0s;
}
.top-header image.logo{
  margin-top: 0;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
  -moz-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
  -ms-transition: all .7s ease 0s;
}
.navbar-default {
  background: transparent;
  border-color: transparent;
  margin-bottom: 0;
  text-decoration: none;
}
.nav-bar{
  margin-top: 28px;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
  -moz-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
  -ms-transition: all .7s ease 0s;
}
.navbar-toggle span{
  color: #fff;
}
ul.nav{
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-nav>li>a {
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
  -moz-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
  -ms-transition: all .7s ease 0s;
  padding: 8px 0;
  margin:0 15px;
  font-weight: 600;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #fff;
  border-bottom: 2px solid #008ed6;
}
.navbar-default .navbar-nav>li>a.active{
  color: #fff;
  border-bottom: 2px solid #008ed6;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}


.main {
  background-image: url(../images/b1.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}
  h3 {
    font-size: 14px;
    color: #008ed6;
    text-transform: uppercase;
    margin-top: 160px;
    font-weight: 700;
  }
  h1 {
    font-size: 14px;
    color: #fff;
  }

  p {
    font-size: 18px;
    color: #999999;
    margin-top: 25px;
    line-height: 2;
    font-weight: 600;
  }
.download-btn{
  width: 160px;
  height: 50px;
  background: #008ed6;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 4px;
  border:0;
  margin-top: 60px;
  margin-right: 15px;
  font-weight: 600;
}
.features-btn{
  width: 160px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #444348;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  font-size: 14px;
  margin-top: 60px;
  margin-bottom: 105px;
  font-weight: 600;
}
  .banner-img {
    position: relative;
  }
  .banner img {
    position: absolute;
    margin-top: 125px
  }

/* features */

.features img {
  margin: auto;
  display: block;
  margin-bottom: 50px;
}
.features i.fa{
  font-size: 25px;
  color: #008ed6;
  font-weight: 700;
  width: 100px;
  height: 100px;
  border: 1px solid #e1e1e1;
  line-height: 4;
  border-radius: 50%;
  cursor: pointer;
  transition: all .7s ease 0s;
  -webkit-transition: all .7s ease 0s;
  -moz-transition: all .7s ease 0s;
  -o-transition: all .7s ease 0s;
  -ms-transition: all .7s ease 0s;
}

.features i.fa:hover{
  color:#fff;
  background: #008DD5;
}
.features h3{
  font-size: 24px;
  color: #1a1a1a;
}
.features p{
  font-size: 18px;
  color: #999999;
  margin-bottom: 70px;
}
